/* marker fix */
.scx-typography li::marker {
  display: none;
  content: '';
}

.scx-typography {
  @apply text-base;
  @apply text-gray-4;
}

.scx-typography code {
  padding: 0.2em 0.4em 0.1em;
  background: hsla(0, 0%, 58.8%, 0.1);
  border: 1px solid hsla(0, 0%, 39.2%, 0.2);
  border-radius: 3px;
}
/*
  dark mode styles
  default styles are handled by tailwind config
*/

.dark .scx-typography {
  @apply text-gray-2;
}

.dark .scx-typography h1 {
  @apply text-white;
}

.dark .scx-typography h2 {
  @apply text-white;
}

.dark .scx-typography h3 {
  @apply text-white;
}

.dark .scx-typography h4 {
  @apply text-white;
}

.dark .scx-typography h5 {
  @apply text-white;
}

.dark .scx-typography strong {
  @apply text-white;
}

.dark .scx-typography li::before {
  @apply text-gray-3;
}

.dark .scx-typography a {
  @apply text-white;
}

.dark .scx-typography blockquote {
  @apply text-white;
}

.dark .scx-typography code {
  color: white;
}

.dark .scx-typography figcaption {
  @apply text-gray-6;
}

.dark .scx-typography::selection {
  /* @apply bg-brand-5; */
  background-color: '#6f7bb635';
}
