.scx-loading {
  @apply transition-all relative;
}

.scx-loading--active {
  opacity: 0.4;
}
.scx-loading-content {
  @apply transition-opacity duration-300;
}

.scx-loading-spinner {
  @apply text-brand-8 animate-spin;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
